<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/ico" href="~/Images/XboxIcon.jpg">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Over</title>
    <script src="https://kit.fontawesome.com/48f7709782.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav id="navbar">
            <form class="search-box-container" asp-controller="Home" asp-action="Search" method="post">
                <input class="search-box" type="text" name="searchBar" placeholder="Search..." />
                <button type="submit" class="btn-search"><i class="fas  fa-search "></i></button>

            </form>
            @using GamingShop.Service
            @using GamingShop.Data.Models
            @using Microsoft.AspNetCore.Identity
            @inject SignInManager<ApplicationUser> SignInManager
            @inject IApplicationUser  _userService;

                <div class="nav-links-container">
                    <ul class="nav-links">
                        <li class="nav-link a-1"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="nav-link"><a asp-action="Index" asp-controller="Categories">Categories</a></li>
                        <li class="nav-link showSubMenu">
                            <a href="#">My Profile</a>
                            <ul class="nav-link-submenu">
                                <li class="nav-link-submenu-item"><a asp-action="Index" asp-controller="Account">My account</a><i class="fas fa-user-circle"></i></li>
                                <li class="nav-link-submenu-item">
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        var user = await _userService.GetUser(User);


                                        <a asp-action="Index" asp-controller="Cart" asp-route-id=@user.CartID> Cart</a><i class="fas fa-shopping-cart"></i>
                                    }
                                    else
                                    {
                                        <a  asp-area="Identity" asp-page="/Account/Login"> Cart</a><i class="fas fa-shopping-cart"></i>
                                    }
                                </li>
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <li class="nav-link-submenu-item">
                                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                            <button type="submit" class="btn-logout">Logout</button>
                                            <i class="fas fa-sign-out-alt"></i>
                                        </form>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-link-submenu-item">
                                        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                                    </li>
                                    <li class="nav-link-submenu-item">
                                        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                                    </li>
                                }

                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="hamburger-menu"><i class="fas fa-bars"></i></div>

        </nav>

    </header>
    <partial name="_CookieConsentPartial" />
    <main id="main-page">
        @RenderBody()
    </main>

    <footer id="footer">
        <div class="container">
            &copy; Adrian Gajewski <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div> 
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
