@model GamingShop.Web.Models.AccountIndexModel

<div class="account-container">
    <div class="account-img">
        <img src="~/images/user.png">
    </div>
    <div class="account-details">
        <form asp-action="UpdateUserProfile" asp-controller="Account" method="post">

            <div class="account-details-item">
                <h2 class="center-text text-left account-details-item-title">UserName:</h2>
                <input name="username" id="username-text" readonly="readonly" class="center-text account-details-item-value" asp-for="User.UserName" value=@Model.User.UserName>
                <a id="btn-username" class="account-details-item-btn">Edit</a>
            </div>
            <div class="account-details-item">
                <h2 class="center-text text-left account-details-item-title">Email:</h2>
                <input name="email" readonly="readonly" id="email-text" class="center-text account-details-item-value email" asp-for="User.Email" value=@Model.User.Email />
                <a id="btn-email" class="account-details-item-btn">Edit</a>
            </div>
            <div class="account-details-item">
                <h2 class="center-text text-left account-details-item-title">Phone number:</h2>
                <input name="phonenumber" readonly="readonly" id="phone-text" class="center-text account-details-item-value" asp-for="User.PhoneNumber" value=@Model.User.PhoneNumber>
                <a id="btn-phone" class="account-details-item-btn">Edit</a>
            </div>
            <div class="btns-container">
                <div class="btn-item"><a asp-action="Index" asp-controller="Cart" asp-route-id=@Model.User.CartId>Go To Cart</a></div>
                <div id="save-btn" class="btn-item"><button type="submit">Save Changes</button></div>
            </div>
            <div class="btn-item"><a asp-action="LatestOrders" asp-controller="Account" asp-route-cartId=@Model.User.CartId>My latest orders</a></div>

        </form>

    </div>

</div>