/* Game Details starts here */

.detail-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "image detail";
    height: 100%;
}

.img-container-detail {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .img-container-detail img {
        width: 80%;
        height: 90%;
        max-width: 100%;
        max-height: 100%;
    }

.details-container {
    width: 80%;
    height: 80%;
    margin-top: 5%;
}

.details {
    width: 100%;
    height: 100%;
}

.detail-item {
    display: flex;
    width: 100%;
    height: 10%;
    margin-top: 2%;
    border-bottom: 5px solid var(--second-background-color);
}

.detail-name {
    width: 60%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.detail-info {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.5rem;
}

.detail-item h1 {
    text-align: center;
}

.detail-item-actions {
    display: flex;
    width: 100%;
    height: 20%;
    margin-top: 5%;
}

.detail-btn {
    display: flex;
    align-items: center;
    width: 60%;
}

    .detail-btn button {
        width: 70%;
        height: 60%;
        border-radius: 50px;
        border-style: none;
        background-color: var(--second-background-color);
        font-size: 2rem;
        color: var(--main-background-color);
    }

.detail-price {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
/* Game Details ends here */
