
.order-form-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--second-background-color);
}

.order-form {
    display: flex;
    flex-direction: column;
}

    .order-form input {
        height: 5vh;
        width: 20vw;
        margin-bottom: 10px;
    }

    .order-form button {
        height: 5vh;
        width: 10vw;
        margin-left: 25%;
        border-radius: 25px;
    }
