@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url(LoginPage.css);
@import url(Basket.css);
@import url(GameDetails.css);
@import url(Account.css);

:root {
    --main-background-color: #fbeaeb;
    --second-background-color: #2f3c7e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: var(--main-background-color);
}

#navbar {
    display: flex;
    align-items: center;
    height: 10vh;
    border-bottom: 10px solid var(--second-background-color);
}

/* Search box starts here */
.search-box-container {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
}

.search-box {
    width: 80%;
    height: 45%;
    border: var(--second-background-color) 4px solid;
    border-right: none;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    margin-left: 5%;
    font-size: 1.3rem;
    padding: 10px;
}

.btn-search {
    border-style: none;
    margin-left: 0;
    height: 45%;
    width: 10%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: var(--second-background-color);
    color: black;
}

.fas {
    background: transparent;
}

.fa-search {
    font-size: 1.5rem;
}
/* Search box ends here */

/* Nav link starts here */

.nav-links-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 60%;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-left: 10%;
}

.nav-link {
    font-size: 1.5rem;
    margin-right: 100px;
}

    .nav-link a {
        text-decoration: none;
        color: var(--second-background-color);
    }

.hamburger-menu {
    display: none;
    font-size: 2rem;
}

.nav-link-submenu {
    position: absolute;
    display: none;
    flex-direction: column;
    text-align: left;
    top: 10%;
    height: 40vh;
    width: 15%;
    list-style: none;
    background-color: var(--second-background-color);
}

.nav-link-submenu-item {
    display: flex;
    align-items: center;
    margin-top: 40px;
    border-bottom: 2px solid var(--main-background-color);
    background-color: transparent;
}

    .nav-link-submenu-item a {
        width: 80%;
        color: var(--main-background-color);
        background-color: transparent;
        font-size: 1.4rem;
    }

    .nav-link-submenu-item i {
        color: var(--main-background-color);
        font-size: 1.1rem;
    }
.fa-sign-out-alt{
    margin-left: 90px;
}

.display-submenu {
    display: flex;
}

/* Nav link ends here */

/* Game page starts here */
#main-page {
    height: 90vh;
}

.cart-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "cart cart cart cart";
    grid-template-rows: auto 1fr auto;
    justify-items: center;
}
/* Game page ends here */

/* Game cart starts here */
.cart {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: var(--second-background-color);
    height: 50vh;
    width: 70%;
    align-items: center;
    border-radius: 20px;
}

.cart-details {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    color: var(--main-background-color);
    height: 20%;
    width: 100%;
}

.cart-detail {
    margin-top: 5px;
    margin-left: 5px;
}

.img-container {
    display: flex;
    height: 60%;
    width: 100%;
    justify-content: center;
}

.img-thumbnail {
    max-height: 100%;
    max-width: 100%;
    margin-top: 5px;
}

.cart-actions {
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
}

.order-btn{
    margin-left: 5vw;
    margin-top: 5vh;
    width: 40%;
    height: 10vh;
}
    .order-btn a:hover{
        background-color: white;
        color: blue;
    }

    .order-btn a {
        cursor: pointer;
        width: 100%;
        padding: 15px;
        background-color: red;
        border-radius: 25px;
        font-size: 2rem;
        color: white;
        background-color: transparent;
        border: 2px solid white;
        transition: .3s ease-in-out;
    }

    .btn-buy {
        width: 60%;
        height: 50%;
        border-style: none;
        border-radius: 50px;
        margin-left: 5px;
        background-color: var(--main-background-color);
    }

.price {
    width: 40%;
    margin-left: 40px;
    font-size: 25px;
}
/* Game cart ends here */


.display {
    transform: translateX(0%) !important;
}

.display-flex {
    display: flex !important;
}

.btn-logout{
    font-size: 1.5rem;
    border-style: none;
    background-color: transparent;
    color: white;
    cursor: pointer;

}

    /* Media queries */
    @media only screen and (max-width: 1355px) {
        .nav-link {
        font-size: 1.5rem;
        margin-right: 100px;
    }
}

@media only screen and (max-width: 1100px) {
    .nav-link-submenu-item a {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 1000px) {
    .cart-container {
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "cart cart cart";
        grid-template-rows: auto 1fr auto;
        justify-items: center;
    }

    .cart-detail {
        margin-top: 5px;
        margin-left: 5px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 905px) {
    .nav-link {
        font-size: 1.2rem;
        margin-right: 100px;
    }
}

@media only screen and (max-width: 768px) {
    #navbar {
        flex-direction: column;
        height: 20vh;
    }

    .nav-link-submenu {
        top: 20%;
        width: 20%;
    }

    .detail-container {
        display: block !important;
        height: 100%;
    }

    .img-container-detail {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }

        .img-container-detail img {
            width: 60% !important;
            height: 80% !important;
            max-width: 100%;
            max-height: 100%;
        }

    .details-container {
        width: 80%;
        height: 80%;
        margin-top: 5%;
        margin-left: 10%;
    }

    .cart-container {
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "cart cart ";
        grid-template-rows: auto 1fr auto;
        justify-items: center;
    }

    .search-box-container {
        height: 100%;
        width: 80%;
        display: flex;
        align-items: center;
    }

    .nav-links-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .nav-link {
        font-size: 1.6rem;
        margin-right: 100px;
    }
}

@media only screen and (max-width: 720px) {
    .nav-link {
        font-size: 1rem;
        margin-right: 100px;
    }
}

@media only screen and (max-width: 360px) {
    * {
        overflow-x: hidden;
    }

    .basket-item {
        width: 100%;
        height: 20vh;
        display: block;
        border: 2px solid var(--main-background-color);
        margin-bottom: 10px;
        transition: all 0.3s ease-in-out;
    }

    .basket-game {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin-bottom: 5px;
        border-bottom: 2px solid var(--main-background-color);
    }

    .basket-game-title {
        width: 100%;
        font-size: 1.7rem;
    }

        .basket-game-title a {
            text-decoration: none;
            color: inherit;
        }

    .basket-game-platform {
        width: 100%;
        font-size: 1.5rem;
    }

    .basket-game-producent {
        width: 100%;
        font-size: 1.5rem;
    }

    .basket-game-btn {
        border-right: none !important;
        width: 100%;
        font-size: 1.5rem;
    }

        .basket-game-btn a {
            width: 50%;
            height: 50%;
            background-color: var(--main-background-color);
            border-radius: 25px;
            text-align: center;
            color: var(--second-background-color);
            text-decoration: none;
        }

    .details-container h3 {
        font-size: 1.2rem;
    }

    .details-container h1 {
        font-size: 1.3rem;
    }

    #navbar {
        flex-direction: row;
        height: 15vh;
    }

    #main-page {
        width: 100%;
    }

    .cart-container {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-areas: "cart";
        grid-template-rows: auto 1fr auto;
    }

    .cart {
        margin-top: 20px;
        background-color: var(--second-background-color);
        height: 50vh;
        text-align: center;
        width: 70%;
    }

    .nav-link-submenu {
        top: 50%;
        width: 100%;
    }

    .nav-link-submenu-item a {
        margin-left: 0;
    }

    .search-box-container {
        height: 100%;
        width: 80%;
        display: flex;
        align-items: center;
    }

    .search-box {
        width: 70%;
        height: 35%;
        border: var(--second-background-color) 4px solid;
        border-right: none;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
        margin-left: 5%;
        font-size: 1.3rem;
        padding: 10px;
    }

    .btn-search {
        border-style: none;
        margin-left: 0;
        height: 35%;
        width: 20%;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        background-color: var(--second-background-color);
        color: black;
    }

    .hamburger-menu {
        cursor: pointer;
        position: absolute;
        display: block;
        right: 20px;
        font-size: 3rem;
    }

    .nav-links-container {
        position: absolute;
        display: none;
        top: 15%;
        right: 0px;
        height: 100%;
        width: 50%;
    }

    .nav-links {
        flex-direction: column;
        top: 15%;
        height: 100%;
        background-color: var(--second-background-color);
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .nav-link {
        font-size: 1.6rem;
        margin-top: 80px;
        width: 100%;
        background-color: var(--second-background-color);
    }

        .nav-link a {
            color: var(--main-background-color);
            background-color: var(--second-background-color);
            margin-left: 20px;
        }

    .a-1 {
        margin-left: 25px;
    }
}

