@model GamingShop.Web.Models.CartIndexModel

<h1>Total Price: @Model.TotalPrice </h1>

@if (Model.Games.Any())
{
<div class="basket-container">

    @foreach (var game in Model.Games)
    {
        <div class="basket-item">
            <div class="basket-game basket-game-title">
                <a asp-action="Details" asp-controller="Game" asp-route-id=@game.ID>@game.Title</a>
            </div>
            <div class="basket-game basket-game-platform">
                <h3>@game.Platform</h3>
            </div>
            <div class="basket-game basket-game-producent">
                <h3>@game.Producent</h3>
            </div>
            <div class="basket-game basket-game-btn">
                <a asp-action="RemoveFromCart" asp-controller="Cart" asp-route-id=@game.ID>Remove</a>
            </div>
        </div>

    }
    <div class="order-btn">
        <a asp-action="Index" asp-controller="Order" asp-route-cartID=@Model.CartID>Place Order</a>
    </div>
</div>
   
}
else
{
    <h1>Your cart is empty, why not add <a asp-action="Index" asp-controller="Home">something </a>? </h1>
}
