
    <div class="container-ctg">
        <div class="categories-container">
            <div class="categories-item xbox">
                <div class="categories-item-logo">
                    <h1>Xbox</h1>
                </div>
                <div class="categories-subcategories">
                    <ul>
                        <li><a href="#">Adventures</a></li>
                        <li><a href="#">Bestsellers</a></li>
                        <li><a href="#">FPS</a></li>
                        <li><a href="#">RPG</a></li>
                        <li><a href="#">Sport</a></li>
                        <li><a href="#">Stealth</a></li>
                    </ul>
                </div>
            </div>
            <div class="categories-item pc">
                <div class="categories-item-logo">
                    <h1>PC</h1>
                </div>
                <div class="categories-subcategories">
                    <ul>
                        <li><a href="#">Adventures</a></li>
                        <li><a href="#">Bestsellers</a></li>
                        <li><a href="#">FPS</a></li>
                        <li><a href="#">RPG</a></li>
                        <li><a href="#">Sport</a></li>
                        <li><a href="#">Stealth</a></li>
                    </ul>
                </div>
            </div>
            <div class="categories-item ps4">
                <div class="categories-item-logo">
                    <h1>PS4</h1>
                </div>
                <div class="categories-subcategories">
                    <ul>
                        <li><a href="#">Adventures</a></li>
                        <li><a href="#">Bestsellers</a></li>
                        <li><a href="#">FPS</a></li>
                        <li><a href="#">RPG</a></li>
                        <li><a href="#">Sport</a></li>
                        <li><a href="#">Stealth</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>